POSTGRES_HOST=postgres_db
POSTGRES_PORT=5432
POSTGRES_DB=n8n_db
POSTGRES_USER=n8n_user
POSTGRES_PASSWORD=my_strong_password
POSTGRES_MIN_POOL=2
POSTGRES_MAX_POOL=10

# Как часто опросчик перечитывает plcs / plc_tags из БД (секунды)
CONFIG_RELOAD_SEC=30

LOG_LEVEL=INFO
